{% extends "base.html.twig" %}
{% block body %}
 <div class="container mt-4">
 <div class="comp-affiche">
    <h1>Affichage categories</h1>
    <table>
        <thead>
            <th>Id</th>
            <th>Titre</th>
        </thead>
        <tbody>
            {% for categorie in categories %}
                <tr>
                    <td>{{ categorie.id }}</td>
                    <td>{{ categorie.titre }}</td>
                    <td>
                    <a href="{{ path('admin.categorie.edit', {'id': categorie.id} ) }}" class="btn btn-primary btn-inline mt-2">Modifier</a>
                    <form method="POST" action="{{ path('admin.categorie.delete', {'id': categorie.id}) }}" onsubmit="return confirm('Êtes vous sûr de vouloir supprimer la categorie ?')">
                            <input type="hidden" name="_method" value='DELETE'>
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ categorie.id) }}">
                            <button class="btn btn-inline btn-danger mt-2">Supprimer</button>
                    </form>	
                </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
</div>
{% endblock %}
