{% extends "base.html.twig" %}
{% block body %}
<section>
<div class ="container mt-4">
    {{ form_start(form, {'attr': {'class': 'form'} } )}}
        <h1 class="title"> Creation compétences</h1>
    <div class="row mt-4">
        <div class="col md-6">
            {{ form_row(form.titre) }}
        </div>
        <div class="row mt-4">
         <div class="col md-6">
            {{ form_row(form.realisation) }}
        </div>
            </div>
            <div class="col md-6">
            {{ form_row(form.periode) }}
        </div>
          <div class="col md-6">
            {{ form_row(form.periodeFin) }}
        </div>
        <div class="row mt-4">
         <div class="col md-6">
            {{ form_row(form.valide) }}
        </div>
        </div>
         <div class="col md-6">
            {{ form_row(form.categorie) }}
        </div>
          <div class="btn-form">
            {{ form_row(form.save) }}
        </div>
    </div>
    {{ form_end(form) }}

        

</div>
</section>
{% endblock %}