{% extends "base.html.twig" %}
{% block body %}
<section class="container mt-4">
    <div class="container mt-4">
    <div class="comp-affiche">
       <h1>Affichage compétences</h1>
    <table>
        <thead>
            <th>Id</th>
            <th>titre</th>
            <th>realisation</th>
            <th>periodeDebut</th>
            <th>periodeFin</th>
            <th>valide</th>
            <th>categorie</th>
        </thead>
        <tbody>
            {% for competence in competences %}
                <tr>
                    <td>{{ competence.id }}</td>
                    <td>{{ competence.titre }}</td>
                    <td>{{ competence.realisation }}</td>
                    <td>{{ competence.periode|date("d/m//Y") }}</td>
                    <td>{{ competence.periodeFin|date("d/m/Y") }}</td>
                    <td>{{ competence.valide }}</td>
                    <td>{{ competence.categorie.titre }}</td>
                   

                    

                    <td>
                        <a href="{{ path('admin.competence.edit', {'id': competence.id} ) }}" class="btn btn-primary btn-inline mt-2">Modifier</a>
                        <form method="POST" action="{{ path('admin.competence.delete', {'id': competence.id}) }}" onsubmit="return confirm('Êtes vous sûr de vouloir supprimer la compétence ?')">
                                <input type="hidden" name="_method" value='DELETE'>
                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ competence.id) }}">
                                <button class="btn btn-inline btn-danger mt-2">Supprimer</button>
                        </form>	
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href={{path('admin.competence.create')}} class="btn btn-main btn-inline mt-2">Créer competence</a>
     </div>
    </div>
</section>
{% endblock %}
