{% extends "base.html.twig" %}
{% block body %}
<section class="container mt-4">
    <div class="container mt-4">
    <div class="tb-comp">
       <h1>Affichage compétences</h1>
    <table>
        <thead>
            <th>titre</th>
            <th>realisation</th>
            <th>periodeDebut</th>
            <th>periodeFin</th>
            <th>categorie</th>
        </thead>
        <tbody>
            {% for competence in competences %}
                <tr>
                    <td>{{ competence.titre }}</td>
                    <td>{{ competence.realisation }}</td>
                    <td>{{ competence.periode|date("m/d/Y") }}</td>
                    <td>{{ competence.periodeFin|date("m/d/Y") }}</td>
                    <td>{{ competence.categorie.titre }}</td>
                    </div>

                </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
</section>
{% endblock %}
